<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<%= form_with url: import_users_path, multipart: true, local: true do |f| %>
  <%= f.file_field :file, class: "file_field" %>
  <%= f.submit "CSVをインポート" ,class: "btn btn-primary csv-button", formtarget: "_blank" %>
<% end %>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
      <p>Example</p>
      <% @users.each do |user| %>
        <div class= "user-name">  
          <%= user.name %>
        </div>
        <div>
          <% if current_user.admin? && !current_user?(user) %>
            | <%= link_to "削除", user, method: :delete,
                  data: { confirm: "「#{user.name}」を削除してよろしいですか？" }, class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class= "div-button-edit"> 
          <%= link_to "編集", '#' , class: "btn btn-primary btn-lg button-edit" %>
        </div>
      <% end %>
  <%= will_paginate %>  
</div>
