<% provide(:title, "Overtime application") %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3 class="modal-title title-center">【残業申請】</h3>
    </div>
    <div class="modal-body">
      <%= form_with(model: @attendance, url: attendances_overtime_application_user_path(@user.id, @attendance.id, date: @first_day.to_date), local: true)  do |f| %>
        <%= f.hidden_field :id, :value => @attendance.id %> <!-- attendancesテーブルのidを渡す -->
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.hidden_field :date, :value => @first_day %>
        <div>
          <table class="table table-bordered table-condensed table-striped table-hover at-work-table">
            <thead>
              <tr>
                <td>日付</td>
                <td>曜日</td>
                <td>終了予定時間</td>
                <td>翌日</td>
                <td>業務処理内容</td>
                <td>指示者確認〇</td>
                <td>変更</td>
                <td>勤怠を確認する</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= l(@attendance.worked_on, format: :short) %>
                </td>  
                <td>
                  <%= $days_of_the_week[@attendance.worked_on.wday] %>
                </td>    
                <td>
                  <div class = "form-group" style="display: inline-flex">
                    <%= f.select :hour, options_for_select((0..23)), { include_blank: true}, { class: "form-control"} %>：
                    <%= f.select :min, options_for_select((0..59)), { include_blank: true}, { class: "form-control"} %>
                  </div>
                </td>
                <td>
                  <div class = "form-check ">
                    <%= f.check_box :tomorrow, class: "form-check-input"%>
                  </div>
                </td>
                <td>
                  <div class = "form-group ">
                    <%= f.text_field :temp_business_processing, class: "form-control" %>
                  </div>          
                </td>
                <td>
                  <div class = "form-group">
                    <%= f.select :to_superior, User.where(superior: true).where.not(id: @user.id).map { |user| [user.name, user.id] }, { include_blank: true}, {class: "form-control"} %>
                  </div>
                </td>
                <td>
                    <div class = "form-check ">
                      <%= f.check_box :change_application,  class: "form-check-input" %>
                    </div>
                </td>
                <td>
                  <%= f.submit '確認', :name => "confirmation", class: "btn btn-primary btn-one-month-confirmation" %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <%= f.submit '変更を送信する', :name => "submit", class: "btn btn-primary btn-block btn-overtime_application" %>
      <% end %>
    </div>  
  </div>
</div>
