<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <%= form_with(model: @attendancesb, url: attendances_overtime_approval_user_path(current_user.id), local: true, method: :patch)  do |f| %>
      <% for n in 0..(@user_id_number-1) do %>
        <% i = @count_max_sum[n] %>
        <% user = User.find(@attendancesb[i].user_id) %>
        <div class="modal-header">
          <h3 class="modal-title title-center"><%= user.name %>からの【残業申請】</h3>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-condensed table-striped table-hover at-work-table">
            <thead>
              <tr>
                <td>日付</td>
                <td>曜日</td>
                <td>終了予定時間</td>
                <td>指定勤務終了時間</td>
                <td>時間外時間</td>
                <td>業務処理内容</td>
                <td>指示者確認〇</td>
                <td>変更</td>
                <td>勤怠を確認する</td>
              </tr>
            </thead>
            <tbody>
              <% for m in 0..@count_max[n]-1 do %>
                <%= f.hidden_field :user_id, multiple: true, :value => user.id %>
                <% i = @count_max_sum[n] + m %>
                <%= f.hidden_field :id, multiple: true, :value => @attendancesb[i].id %> <!-- attendancesbテーブルのidを渡す -->
                <tr>
                  <td>
                    <%= l(@attendancesb[i].worked_on, format: :short) %>
                  </td>  
                  <td>
                    <%= $days_of_the_week[@attendancesb[i].worked_on.wday] %>
                  </td>    
                  <td>
                    <%= short_times(@attendancesb[i].temp_scheduled_end_time) %>
                  </td>
                  <td>
                    <%= short_times(user.designated_work_end_time) %>
                  </td>
                  <% if @attendancesb[i].tomorrow == 1 %>
                    <td><%= format("%.2f", (@attendancesb[i].temp_scheduled_end_time.to_f - user.designated_work_end_time.to_f) / 60.0 / 60.0 + 24.0) %></td>
                  <% else %>
                    <td><%= format("%.2f", (@attendancesb[i].temp_scheduled_end_time.to_f - user.designated_work_end_time.to_f) / 60.0 / 60.0) %></td>
                  <% end %>
                  <td>
                    <%= @attendancesb[i].temp_business_processing %>
                  </td>
                  <td>
                    <div class = "form-group">
                      <%= f.select :instructor_confirmation, options_for_select(Attendance.instructor_confirmations), {include_blank: true, :include_hidden => false , :selected => 1 }, { class: "form-control", :multiple => true} %>
                    </div>
                  </td>
                  <td>
                    <div class = "form-check ">
                      <%= f.check_box :change_approval, {:multiple => true, class: "form-check-input"}, checked_value = "true", unchecked_value = "false" %>
                    </div>
                  </td>
                  <td>
                    <%= link_to '確認', attendance_confirm_one_month_user_url(user.id,@attendancesb[i].id), class: "btn btn-primary btn-one-month-confirmation" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      <div class="center">
        <%= f.submit '変更を送信する', class: "btn btn-primary btn-lg btn-overtime_approval" %>
      </div>
    <% end %>
  </div>
</div>