<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>
  <%= render 'shared/error_messages_attendance', model: f.object %>
  <div>
    <h1>勤怠編集画面</h1>
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>出社</th>
          <th>退社</th>
          <th>翌日</th>
          <th>在社時間</th>
          <th>備考</th>
          <th>指示者確認〇</th>
        </tr>
      </thead>
      <tbody>
        <% @attendances.each do |day| %>
          <%= f.fields_for "attendances[]", day do |attendance| %>
            <tr>
              <td><%= l(day.worked_on, format: :short) %></td>
              <% if day.worked_on.wday == 0 %>
                <td class="sun"><%= $days_of_the_week[day.worked_on.wday] %></td>
              <% elsif day.worked_on.wday == 6 %>
                <td class="sat"><%= $days_of_the_week[day.worked_on.wday] %></td>
              <% else %>
                <td><%= $days_of_the_week[day.worked_on.wday] %></td>
              <% end %>
              <td>
                <div class = "form-group" style="display: inline-flex">
                  <%= attendance.select :attendance_hour, options_for_select((0..23)), { include_blank: true}, { class: "form-control"} %>：
                  <%= attendance.select :attendance_min, options_for_select((0..59)), { include_blank: true}, {class: "form-control"} %>
                </div>
              </td>
              <td>
                <div class = "form-group" style="display: inline-flex">
                  <%= attendance.select :departure_hour, options_for_select((0..23)), { include_blank: true}, { class: "form-control"} %>：
                  <%= attendance.select :departure_min, options_for_select((0..59)), { include_blank: true}, { class: "form-control"} %>
                </div>
              </td>  
              <td>
                <div class = "form-check ">
                  <%= attendance.check_box :attendance_change_tomorrow, {class: "form-check-input"} %>
                </div>
              </td>
              <td></td>
              <td>
                <div class = "form-group ">
                  <%= attendance.text_field :attendance_change_note, {class: "form-control"} %>
                </div>
              </td>
              <td>
                <div class = "form-group">
                  <%= attendance.select :attendance_change_to_superior_user_id, User.where(superior: true).where.not(id: @user.id).map { |user| [user.name, user.id] }, { include_blank: true}, {class: "form-control"} %>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>      
      </tbody>    
    </table>
  </div>

  <div class="center">
    <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-primary" %>
    <%= f.submit "編集を保存する", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>